        *{
            margin-top: 10px;
        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #generateJokeButton {
            padding: 10px 20px;
            background-color: #FF5733;
            color: white;
            border: none;
            cursor: pointer;
            margin: 10px;
        }
        
        #catImage {
            max-width: 100%;
            display: none;
        }
        #colorButton{
            background-color: #191b1c;
            height: 50px;
            width: 200px;
            color: limegreen;
            cursor: cell;
            border: aliceblue 1px thick;
        }
        #colorButton:hover{
            transform: scale(1.2);
        }
        